body {
  margin: 0;
}

.App {
  margin: 1em;
}

.library {
  background-color: lightblue;
}

.bookInfo {
  padding: 1em;
}

#title {
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Merriweather', serif;
}

#author {
  color: grey;
  font-family: 'Noto Serif', serif;

}